/* Utility classes  */

/* Designing first for mobile */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 390px; */
  width: 100%;
  max-width: 1080px;
  margin-inline: auto;
}

.sol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sol img {
  height: auto;
  border-radius: 6px;
  width: 100%;
}

.title {
  font-size: 1.5rem;
  text-align: center;
}

.info {
  padding-inline: 0.5rem;
  z-index: 999;
}

.info p {
  font-size: 1.5rem;
  margin-block: 1rem;
}

.btn-wiki {
  font-size: 2rem;
  background: none;
  cursor: pointer;
  border-radius: 6px;
  padding: 0.5rem 1rem;
}

.selection {
  display: flex;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.btn-select {
  font-size: 1.5rem;
  background: none;
  cursor: pointer;
}

/* Styling Planet Info */
.planet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-block: 4rem;
}

.planet h2 {
  font-size: 1.75rem;
}

.planet img {
  width: 100%;
  height: auto;
  position: relative;
  display: inline-block;
}

.stats {
  border: 1px solid gray;
  width: 100%;
  padding-inline: 1rem;
}

@media screen and (width > 768px) {
  .stats {
    border: none;
    width: 35%;
    margin-top: -55%;
    margin-left: 55%;
    z-index: 999;
  }

  .info {
    margin-top: 40%;
  }

  .info p {
    font-size: 1.5rem;
  }
}

.stats h3 {
  text-align: center;
}

.right {
  float: right;
}

.hidden {
  display: none;
}
